button {
    background-color: transparent;
    color: white;
    height: 40px;
    border: 1px solid #897ECC;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.5s;
    grid-row-start: 2;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.25s
}

button:hover {
    border-color: #AB9EFF;
    cursor:pointer;
    background-color: #897ECC;
}