html {
  font-size: 16px;
  font-family: Helvetica;
  background-color: #211D27;
}

body {

}

.album {
    width: 300px;
    height: 375px;
    /* border-style: solid;
    border-color: var(--text-color-4);
    border-width: 1px; */
    border-radius: 10px;
    background: linear-gradient(20deg, var(--bg-color) 15%, var(--bg-gradient));
    transition: all 0.5s;
    /* box-shadow: 0px 0px 20px 0px var(--shadow); */
}

.album:hover {
    box-shadow: 0px 0px 20px 0px var(--shadow);
    cursor: pointer;
}

.album img {
    margin-top: 15px;
    border-radius: 5px;
    width: 270px;
    height: 270px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .25)

}

.album-title {
    font-size: 1.25rem;
    margin-top: 12px;
    margin-bottom: 4px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    color: var(--text-color-1);
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.album-artist {
    font-size: 1.25rem;
    margin-top: 4px;
    text-align: left;
    padding-left: 15px;
    font-weight: 400;
    color: var(--text-color-2);
}