#artist-filter .searchWrapper {
    min-height: 40px !important;
    min-width: 108px;
    /* border: none !important; */
    border: 1px solid #B1A5FA;
    border-radius: 20px !important;
    max-width: 300px;
    align-content: center;
    padding-left: 7px !important;
    align-items: center;
    /* box-shadow: 4px 4px 7px #17141b90,
                -4px -4px 7px #2b2633; 
    background-color: #362F40 !important; */
    transition: all 0.5s;
    margin-bottom: 8px;
}

.searchWrapper:hover {
    background-color: #362F40;
}

.searchBox::placeholder {
    color: #CFCFCF;
    
}


.optionListContainer {
    background: none !important;
    
}

.optionContainer {
    background-color: #362F40;
    color: #CFCFCF;
    font-size: 14px;
    border: none !important;
    border-radius: 20px !important;
    min-height: 51.5px;
    min-width: 160px !important;
    box-shadow:  4px 4px 7px #17141b,
                -4px -4px 7px #2b263390;
    padding-top: 8px;
                
}

.option {
    padding-left: 15px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-right: 15px !important;

}

#artist-filter .option:hover {
    background-color: #897ECC50 !important;
    color: #CFCFCF !important;
}

#artist-filter .chip {
    border-radius: 20px !important;
    background-color: #897ECC !important;
    margin-bottom: 2px !important;
    color: #FFFFFF !important;
}

.notFound {
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    padding: none !important;
}

.icon_down_dir {
    right: 15px;
}

.multiSelectContainer input {
    min-width: 80px;
    width: 108px;
    color: #CFCFCF;
    padding-left: 10px;
    font-size: 16px;
    height: 100%;
    margin-top: 4px;
}

.multiSelectContainer ul {
    padding-top: 8px;
    padding-bottom: 8px;
}