.searchWrapper {
    min-height: 40px;
    min-width: 108px;
    border: none !important;
    border-radius: 20px !important;
    max-width: 300px;
    align-content: center;
    padding-left: 7px;
    align-items: center;
    box-shadow: 4px 4px 7px #17141b90,
                -4px -4px 7px #2b2633;
    background-color: #362F40;
    transition: all 0.5s;
    margin-bottom: 8px;
}

.searchWrapper:hover {
    background-color: #4F476F;
}

.searchBox::placeholder {
    color: #CFCFCF;
    
}


.optionListContainer {
    background: none !important;
    
}

.optionContainer {
    background-color: #362F40;
    color: #CFCFCF;
    font-size: 14px;
    border: none !important;
    border-radius: 20px !important;
    min-height: 51.5px;
    min-width: 160px !important;
    box-shadow:  4px 4px 7px #17141b,
                -4px -4px 7px #2b263390;
                
}

.option {
    padding: 15px !important;
}

.option:hover {
    background-color: #897ECC !important;
}

.chip {
    border-radius: 20px;
    background-color: #897ECC;
    margin-bottom: 2px;
    color: #FFFFFF;
}

.notFound {
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    padding: none !important;
}

.icon_down_dir {
    right: 15px;
}

.multiSelectContainer input {
    min-width: 80px;
    width: 108px;
    color: #CFCFCF;
    padding-left: 10px;
    font-size: 18px;
    height: 100%;
}