#ranking-select .closeIcon {
    visibility: hidden;

}

#ranking-select .searchWrapper{
    border: 1px solid #B1A5FA !important;
    border-radius: 20px;
    background-color: none !important;
    height: 40px;
    max-width: 122px;
    min-width: 122px;
    padding-left: 7px;
    transition: all 0.5s ease-out; 
}

.searchWrapper:hover {
    background-color: #362F40;
}

#ranking-select .chip {
    color: #CFCFCF;
    font-size: 16px;
    background: none;

}

.selected {
    border-radius: none;
    background-color: #897ECC90 !important;
}

#ranking-select .option {
    font-size: 14px;
    color: #CFCFCF;
}

.multiSelectContainer li:hover {
    color: #CFCFCF;
    background-color: #897ECC50;
}

#ranking-select .optionContainer {
    border-radius: 20px !important;
    max-width: 128px !important;
    min-width: 0px !important;
    margin-top: 4px;
}




